<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Page Analytics</h1>
        <h3>Status Summary</h3>
        <table v-if="results.statuses"><thead><th>Status</th><th>Unique</th><th>Total</th></thead><tbody>
            <tr v-for="(value, name) in results.statuses" style="margin:0">
                <td>{{ name }}</td><td>{{ value[0] }}</td><td>{{ value[1] }}</td>
            </tr> 
        </tbody>
        </table>
        <table v-if="results.members"><thead><th></th><th>Member</th><th>Non Member</th></thead><tbody>
            <tr><td>Unique</td><td>{{ results.members[0] }}</td><td>{{ results.nonMembers[0] }}</td></tr>
            <tr><td>Total</td><td>{{ results.members[1] }}</td><td>{{ results.nonMembers[1] }}</td></tr>
        </tbody>
        <tfoot>
            <td>Total People: {{results.uniquePeople}} </td>
        </tfoot>
        </table>

        <h3>Posts</h3>
        <table>
            <tbody>
                <thead>
                    <th>Results</th><th>Post link</th>
                </thead>
                <tr v-for="item in results.sortedPosts">
                    <td style="border: 1px solid black;"><p style="margin:0" v-for="(value, name) in Object.values(item).shift()">{{ name }}: {{value}}</p></td>
                    <td><a v-bind:href="Object.keys(item).shift()">{{convertUrl(Object.keys(item).shift())}}</a></td> 
                </tr>
            </tbody>
        </table>
    </div>
      <script>
        new Vue({
            el: '#app',
            data: {
                results: {},
            },
            methods: {
                onSuccess: function(results){
                    this.results = JSON.parse(results);
                },
                convertUrl: function(url){
                    var id = url.slice("https://facebook.com/".length);
                    var name = this.results.postMap[id];
                    if (!name){
                        return "Link"
                    } else {
                        return name.slice(0,25);
                    }
                }
            },
            created: function(){
                google.script.run.withSuccessHandler(this.onSuccess).analyzeSheet();
            },
        })
        </script>
</body>

</html>