.vscode
.venv
venv/
venv/*
bots.pickle
*.pyc
/test_data
.temp.jpg
__pycache__
*/__pycache__
/data
*/env
.pytest_cache
*/.pytest_cache
task-service/results.json
task-service/input.json
app/keys/*
*/keys/
.pytest_cache
app/.noseids
app/nosetests.xml
kubectl.*
*.env