<script>
  Vue.component('auth-component', {
    template: /*html*/`
    <v-container v-if='sstyle == "auth"' class='mb-4'>
      <v-row>
        <v-col cols='10'>
          <h2>Facebook Settings</h2>
        </v-col>
        <v-col>
          <v-btn fab color='primary' 
            @click='refreshAuthStatus'
            :loading='authLoading'
          >
            <v-icon>
              mdi-refresh
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row class='mt-n6'>
        <v-col cols=6 xs=4>
          <v-select 
            :items="pageSelections"
            item-text='name'
            return-object
            v-model="selected">
           </v-select>
        </v-col>
        <v-col cols=3 class='ml-n1 mt-3'>
          <v-btn 
            :disabled='!notDefaultSelection'
            @click="submitFacebookPageSelection"
            color='primary'>
            Update
          </v-btn>
        </v-col>
        <v-col cols=3 class='ml-n3 mt-3'>
          <v-btn
            :disabled='!notDefaultSelection'
            @click="removeFacebookPageSelection"
            color='primary'>
            Delete
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="facebookAuthLink" class="mt-n10">
        <v-col>
          <a target="_blank" id="facebook-auth-link" v-bind:href="facebookAuthLink">
            <img id="facebook-sign-in-button" style="padding-top:10px; width: 241px; display:inline-block; margin: auto;"
              src="https://storage.googleapis.com/eighth-vehicle-287322.appspot.com/page_interaction_manager/continue-with-facebook.png"></img>
          </a>
        </v-col>
      </v-row>
      <v-row class="mt-n5">
        <v-col cols=4 v-if="showGoogleSignin && !showConnectPageToGoogle" class="auth-container-google">
          <a target="_blank" id="google-auth-link" href="https://missionary-tools.com/auth/authorize">
            <img id="google-sign-in-button" style="width: 250px; margin: -5px;"
              src="https://storage.googleapis.com/eighth-vehicle-287322.appspot.com/page_interaction_manager/btn_google_signin_dark_normal_web.png"></img>
          </a>
        </v-col>
        <v-col v-if='showConnectPageToGoogle && notDefaultSelection'>
          <v-btn 
            width='241px' 
            color='primary' 
            @click="submitFacebookPageSelection">Link to Google</v-btn>
        </v-col>
      </v-row>
      <v-alert 
        type='warning' 
        text 
        style='padding: 6px;' 
        class='mt-6 mb-n1'
        v-if='notDefaultSelection && (showConnectPageToGoogle || showGoogleSignin)'
      >
        It is highly recommended you only sign into or link to google using your mission office missionary.org account. It is the only missionary account that will stay long term.
      </v-alert>
    </v-container>
    `,
    props: ['sstyle'],
    data: function () {
      return {
        facebookPages: [],
        selected: {name: "Select a page", disabled: true},
        profileList: '',
        facebookAuthLink: "",
        showGoogleSignin: false,
        showConnectPageToGoogle: false,
        authLoading: true
      }
    },
    methods: {
      refreshAuthStatus: function(){
        this.authLoading = true
        google.script.run
          .withFailureHandler(this.errorHandler)
          .withSuccessHandler(this.updateGoogleAuthLink)
          .getGoogleAuthStatus();
        google.script.run
          .withFailureHandler(this.errorHandler)
          .withSuccessHandler(this.updateFacebookAuthLink)
          .getAuthorizationUrl();
      },
      submitFacebookPageSelection: function () {
        this.authLoading = true
        var pageResults = { 'data': [this.selected] };
        google.script.run
          .withFailureHandler(this.errorHandler)
          .withSuccessHandler(() => {
            google.script.run
              .withFailureHandler(this.errorHandler)
              .withSuccessHandler(this.updateGoogleAuthorization)
              .getGoogleAuthStatus();
          }).saveFacebookPagesDetails(pageResults);
      },
      removeFacebookPageSelection: function () {
        var pageResults = { 'data': [this.selected] };
        google.script.run
          .withFailureHandler(this.errorHandler)
          .deleteFacebookPagesDetails(pageResults);
        this.selected = {};
      },
      updateAvailibleFacebookPages: function (pageResults) {
        this.facebookPages = pageResults.data;
      },
      updateSelectedPage: function (selectedPages) {
        if (selectedPages.data.length)
          [this.selected] = selectedPages.data;
      },
      updateSheetProfileLinks: function () {
        var profileList = JSON.parse(this.profileList);
        google.script.run.withSuccessHandler().updateProfiles(profileList);
        this.profileList = '';
      },
      updateRefreshToken: function () {
        google.script.run.withSuccessHandler(this.updateGoogleAuthLink).withFailureHandler(this.errorHandler)
          .updatePageRefreshToken()
      },
      updateGoogleAuthLink: function (googleAuthorized) {
        const { user_status, page_status } = googleAuthorized
        if (page_status) {
          this.showConnectPageToGoogle = false
          this.showGoogleSignin = false
          this.$emit('auth-needed', false)
        }
        else {
          if (user_status){
            this.showConnectPageToGoogle = true
            this.showGoogleSignin = false
          }
          else {
            this.showGoogleSignin = true
            this.showConnectPageToGoogle = false
          }
          this.$emit('auth-needed', true)
        }
        this.authLoading = false
      },
      updateFacebookAuthLink: function (facebookAuthLink) {
        this.facebookAuthLink = facebookAuthLink;
        if(this.facebookAuthLink)
          this.$emit('auth-needed', true)
        this.authLoading = false
      },
      errorHandler: function(error) {
        this.authLoading = false

        if (error.message.includes('Access not granted or expired')){
          google.script.run.withSuccessHandler(this.updateFacebookAuthLink).withFailureHandler(this.errorHandler)
            .getAuthorizationUrl();
          return
        }
        else if (error.message.includes(`This endpoint requires the 'pages_read_user_content' permission`)){
          // This error occurs, but the submit still goes through, not sure why it's popping up
          return
        }

        this.$emit('error-thrown', error.message + " If this is unexpected please report it via the feedback form as a bug")
      }
    },
    created: function() {
      google.script.run.withSuccessHandler((pages)=>{
            this.updateAvailibleFacebookPages(pages)
            google.script.run.withSuccessHandler(this.updateSelectedPage).withFailureHandler(this.errorHandler)
              .getSelectedPages();
          })
        .withFailureHandler(this.errorHandler)
        .getFacebookPages();
      google.script.run.withSuccessHandler(this.updateGoogleAuthLink).withFailureHandler(this.errorHandler)
        .getGoogleAuthStatus();
    },
    watch: {
      authLoading: function(newVal){
        this.$emit('auth-loaded', newVal)
      }
    },
    computed: {
      pageSelections(){
        let selections = []
        if (this.notDefaultSelection){
          let page = this.selected
          selections.push({
            name: `Selected: ${page.name}`,
            value: page,
            disabled: true
          })
        }
        if (!this.facebookPages.length)
          selections.push({name: "Select a page", disabled: true})
        
        return selections.concat(this.facebookPages)
      },
      notDefaultSelection(){
        if (!this.selected)
          return false
        return this.selected.name != 'Select a page' && Object.keys(this.selected).length
      }
    }
  })
</script>