<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <?!= include('page_interaction/settings_models/settings-style.html'); ?>
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-card class='mx-auto' width='500' elevation='10'>
        <v-toolbar color='primary' class='white--text'>
          <v-toolbar-title style='overflow:visible'>Program Settings</v-toolbar-title>
          <v-tabs
            v-model="settingStyle"
            background-color="primary"
            dark right
          >
            <v-tab href="#regular" :disabled="!settingsLoaded">Regular</v-tab>
            <v-tab href="#advanced" :disabled="!settingsLoaded">Advanced</v-tab>
            <v-tab href="#auth" :disabled="authLoading">
              <v-badge
                color='error'
                dot
                :value='authNeeded'
              >
                Auth
              </v-badge>
            </v-tab>
          </v-tabs>
        </v-toolbar>
        <setting-component 
          :sstyle='settingStyle'
          @error-thrown='errorText = $event'
          @settings-loaded='settingsLoaded=$event'></setting-component>
        <auth-component 
          :sstyle='settingStyle'
          @error-thrown='errorText=$event'
          @auth-needed='authNeeded=$event'
          @auth-loaded='authLoading=$event'
          ></auth-component>
        <v-alert v-if='errorText' type='error'>{{errorText}}</v-alert>
      </v-card>
    </v-app>


    <!-- <div>
      <h1>Program Settings</h1>
      <h3>Ad Likes</h3>
      <div class="sheet-grid-container">
        <div class="sheetSettings">
          <ul>
            <li v-for="setting in adSettings">
              <label class="checkbox">
                <input type="checkbox" v-model="setting.value">
                <span></span>
                {{setting.name}}:
              </label>
            </li>
          </ul>
        </div> -->


        <!-- <div class="sheetSettings">
            <h3>Page Messages</h3>
            <ul>
              <li v-for="setting in messageSettings">
                <label class="checkbox">
                  <input type="checkbox" v-model="setting.value">
                  <span></span>
                  {{setting.name}}:
                </label>
              </li>
            </ul>
          </div> -->
      <!-- </div>
    <h3>Classifications</h3>
    <div class="classify-grid-container">
      <select class="dropdown" v-model="selectedUnit">
        <option selected>Add a unit</option>
        <option v-for="unit in unitList">{{unit.name}}</option>
      </select>
      <div>
        <input type='text' placeholder="Type Unit name here..." v-if="selectedUnit == 'Add a unit'"
          v-model='addUnitName' v-on:keyup.enter="changeUnit('add')">
        <div class="colorWrapper" id="unitWrapper" v-if="selectedUnit != '' && selectedUnit != 'Add a unit'"
          v-bind:style="{ backgroundColor: unitColor }">
          <input type='color' id="unitColor" v-model='unitColor' @blur='changeColor'>
          <span>Select a color...</span>
        </div>
      </div>
      <div>
        <button v-if="selectedUnit == 'Add a unit'" @click='changeUnit("add")'>Add</button>
        <button v-if="selectedUnit != 'Add a unit' && selectedUnit != ''" @click='changeUnit("remove")'>Remove</button>
      </div>
      <div>
        <button style="width: 100px;" v-if="!defaultUnit && selectedUnit != 'Add a unit'" @click="makeDefault('unit')">Set Default</button>
        <button style="width: 100px;" v-if="defaultUnit" disabled>Default</button>
      </div>

      <select class="dropdown" v-model="selectedStatus" @change="statusChange">
        <option selected>Add a status</option>
        <option v-for="status in statusList">{{status.name}}</option>
      </select>
      <div>
        <input type='text' placeholder="Type Status name here..." v-if="selectedStatus == 'Add a status'"
          v-model='addStatus' v-on:keyup.enter="changeStatus('add')">
        <div class="mergeHideContainer" v-if="selectedStatus != 'Add a status'">
          <label class="checkbox">
            <input type="checkbox" v-model="statusMerge" @change="changeStatus('merge')">
            <span></span>
            Merge:
          </label>
          <label class="checkbox">
            <input type="checkbox" v-model="statusHide" @change="changeStatus('hide')">
            <span></span>
            Hide:
          </label>
        </div>
      </div>
      <div>
        <button v-if="selectedStatus == 'Add a status'" @click='changeStatus("add")'>Add</button>
        <button v-if="selectedStatus != 'Add a status' && selectedStatus != ''"
          @click='changeStatus("remove")'>Remove</button>
      </div>
      <div>
        <button style="width: 100px;" v-if="!defaultStatus && selectedStatus != 'Add a status'" @click="makeDefault('status')">Set Default</button>
        <button style="width: 100px;" v-if="defaultStatus" disabled>Default</button>
      </div>
    </div>

    <button class="saveButton" @click="saveProgramSettings" :disabled="!settingsLoaded">Save Settings</button>
    <br>
    <br>
    <h1>Facebook Settings</h1>
    <div class="classify-grid-container">
      <div>
        <select class="dropdown" v-model="selected" id="page-select">
          <option v-if="!facebookPages.length" disabled selected="selected">Select a page</option>
          <option v-for="page in selected" v-bind:value="[page]" disabled selected>Selected: {{ page.name }}</option>
          <option v-for="page in facebookPages" v-bind:value="[page]">{{ page.name }}</option>
        </select>
      </div>
      <button class="btn btn-primary" @click="submitFacebookPageSelection">Update</button>
      <button class="btn btn-danger" @click="removeFacebookPageSelection">Delete</button>
    </div>


    <div v-if="facebookAuthLink">
      <a target="_blank" id="facebook-auth-link" v-bind:href="facebookAuthLink">
        <img id="facebook-sign-in-button" style="padding-top:10px; width: 200px; display:inline-block; margin:auto;"
          src="https://storage.googleapis.com/eighth-vehicle-287322.appspot.com/page_interaction_manager/continue-with-facebook.png"></img>
      </a>
    </div>
    <div v-if="showGoogleSignin">
      <div class="auth-container-google">
        <a target="_blank" id="google-auth-link" href="https://missionary-tools.com/auth/authorize">
          <img id="google-sign-in-button" style="width: 250px; margin:auto;"
            src="https://storage.googleapis.com/eighth-vehicle-287322.appspot.com/page_interaction_manager/btn_google_signin_dark_normal_web.png"></img>
        </a>
      </div>
    </div>
    <div v-if='showConnectPageToGoogle && selected.length'>
      <button @click="submitFacebookPageSelection">Link to Google</button>
    </div>
    <div v-if="JSON.parse(programSettings).hasOwnProperty('experimental')">
      <h1>Profile Link Tool</h1>
      <p>Copy the program input to input file</p>
      <textarea style="display: block; margin-bottom:10px;" v-model="scraperInput"></textarea>
      <p>Copy the program output text file here</p>
      <textarea style="display: block; margin-bottom:10px;" v-model="profileList"></textarea>
      <button class="btn btn-primary" @click="updateSheetProfileLinks">Submit</button>
    </div> -->

    
    <!-- <div v-if="JSON.parse(programSettings).hasOwnProperty('experimental')">
      <h1>Profile Link Tool</h1>
      <p>Copy the program input to input file</p>
      <textarea style="display: block; margin-bottom:10px;" v-model="scraperInput"></textarea>
      <p>Copy the program output text file here</p>
      <textarea style="display: block; margin-bottom:10px;" v-model="profileList"></textarea>
      <button class="btn btn-primary" @click="updateSheetProfileLinks">Submit</button>
    </div> -->
    <!-- <br>
    <button @click="formatData">Format</button>
    <button @click="formatSettings">Format Back</button>
    <p>{{debug}}</p>
    <div v-if="JSON.parse(programSettings).hasOwnProperty('debug')">
      <p v-for="(val, key) in debug_functions">
        <button v-on:click="callFunc(val)">
          {{ val }}
        </button>
      </p>
    </div> -->
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <?!= include('page_interaction/settings_models/setting-component.html'); ?>
  <?!= include('page_interaction/settings_models/auth-component.html'); ?>
  <?!= include('page_interaction/settings_models/settings-script.html'); ?>
</body>

</html>