<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <?!= include('page_interaction/settings_models/settings-style.html'); ?>
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-card class='mx-auto' width='500' elevation='10'>
        <v-toolbar color='primary' class='white--text'>
          <v-toolbar-title style='overflow:visible'>Program Settings</v-toolbar-title>
          <v-tabs
            v-model="settingStyle"
            background-color="primary"
            dark right
          >
            <v-tab href="#regular" :disabled="!settingsLoaded">Regular</v-tab>
            <v-tab href="#advanced" :disabled="!settingsLoaded">Advanced</v-tab>
            <v-tab href="#auth" :disabled="authLoading">
              <v-badge
                color='error'
                dot
                :value='authNeeded'
              >
                Auth
              </v-badge>
            </v-tab>
          </v-tabs>
        </v-toolbar>
        <setting-component 
          :sstyle='settingStyle'
          @error-thrown='errorText = $event'
          @settings-loaded='settingsLoaded=$event'></setting-component>
        <auth-component 
          :sstyle='settingStyle'
          @error-thrown='errorText=$event'
          @auth-needed='authNeeded=$event'
          @auth-loaded='authLoading=$event'
          ></auth-component>
        <v-alert v-if='errorText' type='error'>{{errorText}}</v-alert>
      </v-card>
    </v-app>

    <div v-if="JSON.parse(programSettings).hasOwnProperty('debug')">
      <p v-for="(val, key) in debug_functions">
        <button v-on:click="callFunc(val)">
          {{ val }}
        </button>
      </p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <?!= include('page_interaction/settings_models/setting-component.html'); ?>
  <?!= include('page_interaction/settings_models/auth-component.html'); ?>
  <?!= include('page_interaction/settings_models/settings-script.html'); ?>
</body>

</html>